*.info
/Library
/Temp
/.vs
/_ReSharper.Caches
/MachineCode.txt
/G2Clinet.sln
/G2Clinet.CSharp.Plugins.csproj
/G2Clinet.CSharp.Editor.csproj
/G2Clinet.CSharp.csproj
/G2.keystore
/Build
/G2Clinet.sln.DotSettings.user
/G2ClinetGit.CSharp.Editor.csproj
/G2ClinetGit.CSharp.Plugins.csproj
/G2ClinetGit.CSharp.csproj
/G2ClinetGit.sln
/G2ClinetGit.sln.DotSettings.user
